@model ProjetoSantana.Models.SuporteAts

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SuporteAts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescProblema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescProblema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atendente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atendente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodAtendimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodAtendimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodChamado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodChamado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solucao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solucao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
