@model IEnumerable<ProjetoSantana.Models.SuporteSantana>

@{
    ViewBag.Title = "Index";
}

<h2>Atendimentos Santana</h2>

<p>
    @Html.ActionLink("Novo Atendimento", "Create")
</p>

<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DescProblema)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td align="justify" style="vertical-align:middle" width="800">
            @Html.DisplayFor(modelItem => item.DescProblema)
        </td>
        <td style="vertical-align:middle" align="center">
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td style="vertical-align:middle" align="center">
            <button type="button" class="btn btn btn-primary btn-xs" onclick="location.href='@Url.Action("Edit","SuporteSantanas", new { id = item.Codigo })'"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("Details","SuporteSantanas", new { id = item.Codigo })'"><span class="glyphicon glyphicon-eye-open"></span></button>
        </td>
    </tr>
    }

</table>
